<style>
    /* Move above btn */
    #moveAbove {
        position: fixed;
        bottom: 1vh;
        right: 1vw;
        width: 10vw;
        max-width: 70px;
    }
</style>
<!-- Below is a button for moving page to top. -->
<a href="#"><img src="../img/move_above.png" id="moveAbove" alt="move above"></a>