<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BioGeneral - Login</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <!-- Top header of website -->
    <%- include('./partials/navbar.ejs') %>

    <main>Login</main>

    <!-- Fotter section of webste contains contact us section and etc... -->
    <%- include('./partials/footer.ejs') %>
    <!-- Below is a button for moving page to top. -->
    <%- include('./partials/moveAboveBtn.ejs') %>
  </body>
</html>
