@import url(root.css);

/* start initial settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
}

/* end initial settings */

/* Move above btn */
#moveAbove {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    width: 10vw;
    max-width: 70px;
}



/* TO Do: must be moved from this file style rules below */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.content {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

h2 {
    color: var(--header-color);
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.image>p {
    text-align: center;
}
