/* Home page's biography cards style rules */
main.bio-list {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article.bio-card {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 30vw;
    overflow: hidden;
    margin: 10px;
}

article.bio-card * {
    position: relative;
    width: 100%;
    height: 100%;
}

article.bio-card>img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 3px;
}

article.bio-card:hover {
    cursor: pointer;
}


article.bio-card>h1.bio-title {
    /* this is necessary to align text to center 
    after un-applying text-scroll animation */
    margin: auto;
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: center;
}

@keyframes scroll-text {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}