@import url(root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: var(--header-color);
    color: var(--header-text-color);
    border-bottom: #ccc 1px solid;
    display: flex;
    align-content: space-between;
    text-align: center;
    height: 2rem;
}

header .nav-btn {
    color: #ccc;
    font-size: 11pt;
    margin-left: 0;
    text-decoration: none;
    padding: 10px;
    transition: color 0.5s ease, text-decoration 0.5s ease, filter 0.5s ease;
}

header .nav-btn:hover {
    color: #fff;
    filter: brightness(1.5);
}

.login-btn {
    text-decoration: none;
    color: white;
    background-color: hsl(246, 50%, 50%);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
    text-align: center;
    transition: filter 0.3s ease-in;
}

.login-btn:hover {
    filter: brightness(1.3);
}

.login-btn:active {
    color: var(--header-color);
    background-color: #ccc;
}

header h1 {
    margin: 0;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

h2 {
    color: var(--header-color);
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.image>p {
    text-align: center;
}

main.bio-list {
    display: grid;
    column-count: 3;
    background-color: var(--bg-color);
}

article.bio-card {
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

article.bio-card>img {
    width: 5em;
    height: 5em;
}

article.bio-card:hover {
    cursor: pointer;
}

article.bio-card>h1.bio-title {
    font-size: .8em;
    text-align: center;
}

#moveAbove {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50px;
}